<form [formGroup]="signInForm">
    <h1>Sign in</h1>
    <span>or use your account</span>
    <input formControlName="email" type="email" placeholder="Email" />
    <p class="error" *ngIf="signInForm.get('email')?.touched && signInForm.get('email')?.invalid">
        Email does not look right
    </p>
    <input formControlName="password" type="password" placeholder="Password" />
    <p class="error" *ngIf="signInForm.get('password')?.touched && signInForm.get('password')?.invalid">
        Ooops please enter password
    </p>
    <a href="#">Forgot your password?</a>
    <button [disabled]="!signInForm.valid">Sign In</button>
</form>